config/gh/hosts.yml
config/karabiner/automatic_backups
config/nvim.bak
config/tmux/plugins
**/**.log
config/wezterm/images
config/nvim/README.md
config/nvim/LICENSE
config/zsh/.zsh_history
config/zsh/.zcompdump
config/zsh/.zprofile
config/zsh/ignore.zsh
config/sesh/**
trash/**
config/nvim/**.db.json
config/nvim/lazy-lock.json
